[submodule "HW4/Libraries/glfw"]
	path = HW4/Libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "HW4/Libraries/glm"]
	path = HW4/Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "HW4/Libraries/stb"]
	path = HW4/Libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "HW4/Libraries/glad"]
	path = HW4/Libraries/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "HW5/Libraries/glfw"]
	path = HW5/Libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "HW5/Libraries/glm"]
	path = HW5/Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "HW5/Libraries/stb"]
	path = HW5/Libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "HW5/Libraries/glad"]
	path = HW5/Libraries/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "HW5/Libraries/assimp"]
	path = HW5/Libraries/assimp
	url = https://github.com/assimp/assimp.git
